:root {
	--primary: #fff;
	--secondary: #000;
}

@font-face {
	font-family: 'CrawlTitle';
	src: url('../media/fonts/SWCrawlTitle.ttf');
}

@font-face {
	font-family: 'CrawlBody';
	src: url('../media/fonts/SWCrawlBody.ttf');
}

:root {
	--dropshadow: drop-shadow(1px 4px 4px rgb(36, 36, 209));
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

html {
	overflow-x: hidden;
}

header {
	height: auto;
	width: 100vw;
	background-color: var(--secondary);
	background-image: url(../media/images/starsbackgroundtransparent.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #333333;
}

header div {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #333333;
}

header div img {
	padding: 1.5rem 0;
}

header nav {
	display: flex;
	justify-content: center;
	background-color: var(--secondary);
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 20vw;
}

header nav ul li {
	text-decoration: none;
	font-size: 0.875rem;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0.7rem 2.2rem;
	color: #999999;
}

header nav ul li:nth-child(1) {
	border-left: 1px solid #333333;
	border-right: 0.5px solid #333333;
}

header nav ul li:nth-child(2) {
	border-left: 0.5px solid #333333;
	border-right: 1px solid #333333;
}

header nav ul li a {
	color: #999999;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}

header nav ul li a:hover {
	color: var(--primary);
}

body {
	background-color: #1d1f20;
}

#starWarsFilms {
	margin: 5vh 10vw 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#starWarsFilms article {
	margin: 1rem 0.5rem;
	padding: 1.9rem;
	width: 300px;
	height: 43em;
	background-color: var(--secondary);
	border-left: 5px solid #333333;
	border-right: 5px solid #333333;
}

#starWarsFilms a {
	position: relative;
	text-decoration: none;
	height: auto;
	transition: 0.5s cubic-bezier(0.77, 0.6, 0.36, 0.77);
	transform: perspective(1000px) rotateX(0deg) scale(1);
	z-index: 1;
}

#starWarsFilms a:hover {
	position: relative;
	transform: perspective(1000px) rotateX(30deg) scale(1.4);
	z-index: 2;
}

#starWarsFilms h1,
#starWarsFilms p {
	color: #fddc38;
}

#starWarsFilms h1 {
	margin: 0 auto 2rem;
	text-align: center;
	text-transform: lowercase;
	font-family: 'CrawlTitle', sans-serif;
	font-weight: bolder;
	font-size: 2.2rem;
	letter-spacing: 1px;
}

#starWarsFilms p {
	display: flex;
	justify-content: center;
	width: 100%;
	font-family: 'CrawlBody', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
	line-height: 2rem;
	text-align: justify;
}

#starWarsFilms p:hover {
	cursor: pointer;
}

#starWarsCharacters,
#starWarsStarships,
#starWarsPlanets {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#starWarsCharacters > article,
#starWarsStarships > article,
#starWarsPlanets > article {
	color: white;
	margin: 1em;
	padding: 2em;
	background: rgba(67, 91, 152, 0.35);
	border: solid 5px rgba(49, 84, 170, 0.5);
	border-radius: 15px;
	transform: perspective(3000px) rotateY(20deg) rotateX(15deg);
	transition: 0.5s cubic-bezier(0.77, 0.6, 0.36, 0.77);
}

#starWarsCharacters > article:hover,
#starWarsStarships > article:hover,
#starWarsPlanets > article:hover {
	transform: rotateY(0deg) rotateX(0deg) scale(1.1);
}

#starWarsCharacters article {
	width: 20%;
}

#starWarsStarships article {
	width: 40%;
}

#starWarsPlanets article {
	width: 40%;
}

#starWarsCharacters article img,
#starWarsStarships article img,
#starWarsPlanets article img {
	display: block;
	margin: 1em auto 2.5em;
	height: auto;
	filter: var(--dropshadow);
}

#starWarsCharacters article img {
	width: 150px;
}

#starWarsStarships article img,
#starWarsPlanets article img {
	width: 250px;
}

#starWarsCharacters article h2,
#starWarsStarships article h2,
#starWarsPlanets article h2 {
	color: #217dba;
	width: 100%;
	text-align: center;
	font-style: italic;
	filter: var(--dropshadow);
}

#starWarsCharacters article h2 {
	height: 2em;
	font-size: 2em;
}

#starWarsStarships article h2,
#starWarsPlanets article h2 {
	height: 3em;
	font-size: 3em;
}

#starWarsCharacters article p,
#starWarsStarships article p,
#starWarsPlanets article p {
	margin: 0.5em 0;
	width: 80%;
	color: #217dba;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	filter: var(--dropshadow);
}
